---
import "../styles/global.css";
---

<nav class="bg-zinc-600 text-white py-5 flex justify-end">
  <div class="w-fit mr-20 flex justify-between gap-3">
    <a
      class="nav-btn"
      href="/"
      >Home</a
    >
    <a
      class="nav-btn"
      href="/about/"
      >About</a
    >
    <a
      class="nav-btn"
      href="/blog/"
      >Blog</a
    >
  </div>
</nav>
